<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_2B2TQueAlarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <_2B2TQueAlarm.Properties.Settings>
            <setting name="queuePos" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="alarmcheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prometheusCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="speak" serializeAs="String">
                <value>True</value>
            </setting>
        </_2B2TQueAlarm.Properties.Settings>
    </userSettings>
</configuration>
